<html>
  <head>
    <title>Patient Report</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0; position:
      relative; } header { padding: 10px; display: flex; justify-content:
      space-between; } .lab-name { float: left; } .logo { float: right; }
      .lab-name h2 { margin: 0; } .logo img { max-height: 150px; max-width:
      150px; } table { width: 100%; border-collapse: collapse; } table, th, td {
      border: 1px solid black; } th, td { padding: 8px; text-align: center; }
      footer { color:black; padding: 10px; position:
      absolute; bottom: 0; width: 100%; display: flex; justify-content:
      space-between; } .signature { float: left; } .stamp { float: right; }
    </style>
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <div class="lab-name">
        <h2>Digital Labortary</h2>
      </div>
      <div class="logo">
        <img src="{{logo}}" alt="Laboratory Logo" />
      </div>
    </header>

    <!-- Body Section -->
    <h1>Patient Report</h1>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Date:</strong> {{date}}</p>
    <p><strong>Age:</strong> {{age}}</p>
    <p><strong>Sex:</strong> {{sex}}</p>

    <!-- CBC Test Results Table -->
    <h2>CBC Test Results</h2>
    <table>
      <thead>
        <tr>
          <th>EXAMINATION</th>
          <th>RESULT</th>
          <th>UNIT</th>
          <th>NORMAL VALUE</th>
        </tr>
      </thead>
      <tbody>
        {{#each cbcTests}}
          <tr>
            <td>{{name}}</td>
            <td>{{value}}</td>
            <td>{{unit}}</td>
            <td>{{normalValve}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Footer Section -->
    <footer>
      <div class="logo">
       Signature: <img src="{{signature}}" alt="Laboratory signature" id="logo-image"/>
      </div>
      <div class="logo">
       Stamp: <img src="{{stamp}}" alt="Laboratory signature" id="logo-image" />
      </div>
    </footer>
  </body>
</html>