<html>
   <head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

  <style>
       *{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

    }
    .main_content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #f8f8f8;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
      
      /* Style the table headers */
      th {
        background-color: #18BBAAFF;
        color: white;
        text-align: left;
        padding: 12px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
      }
      
      /* Style the table rows */
      tr {
        transition: background-color 0.3s;
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      
      tr:hover {
        background-color: #ddd;
      }
      
      /* Style the table cells */
      td {
        padding: 12px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
      }
      
      /* Add a hover effect to table cells */
      td:hover {
        background-color: #e0e0e0;
      }
      #logo-image{
        height: 50px;
        width: 250px;
        }
      .stamp{
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 10px;
      }
  </style>
</head>
  <body>
    <!-- Header Section -->
    <header>
      <div class="lab-name">
        <h2>Digital Labortary</h2>
      </div>
      <div class="logo">
        <img src="{{logo}}" alt="Laboratory Logo" id="logo-image" />
      </div>
    </header>

    <!-- Body Section -->
    <h1>Patient Report</h1>
   <div class="main_content">
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Date:</strong> {{date}}</p>
    <p><strong>Age:</strong> {{age}}</p>
    <p><strong>Sex:</strong> {{sex}}</p>
    <p><strong>Email:</strong> {{email}}</p>
  </div>

    <!-- CBC Test Results Table -->
    <h2>Blood Glucose Test</h2>
    <table>
      <thead>
        <tr>
          <th>EXAMINATION</th>
          <th>RESULT</th>
          <th>UNIT</th>
          <th>NORMAL VALUE</th>
        </tr>
      </thead>
      <tbody>
        {{#each bloodGlucoseTest}}
        <tr>
          <td>{{name}}</td>
          <td>{{value}}</td>
          <td>{{unit}}</td>
          <td>{{normalValve}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Footer Section -->
    <footer>
      <div class="stamp">
        Report Stamp: [Stamp Image]
      </div>
    </footer>
  </body>
</html>
