<html>
  <head>
    <title>Patient Report</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        position: relative;
        margin-left: 3px;
        margin-right: 3px;
      }
      header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }
      .lab-name {
        float: left;
      }
      .logo {
        float: right;
      }
      .lab-name h2 {
        margin: 0;
      }
      .logo img {
        max-height: 150px;
        max-width: 150px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
      }
      th,
      td {
        padding: 8px;
        text-align: center;
      }
      footer {
        background-color: #337ab7;
        color: white;
        padding: 10px;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .signature {
        float: left;
      }
      .stamp {
        float: right;
      }
    </style>
  </head>
  <body>
    <!-- Header Section -->
    <header>
      <div class="lab-name">
        <h2>Digital Labortary</h2>
      </div>
      <div class="logo">
        <img src="{{logo}}" alt="Laboratory Logo" id="logo-image" />
      </div>
    </header>

    <!-- Body Section -->
    <h1>Patient Report</h1>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Date:</strong> {{date}}</p>
    <p><strong>Age:</strong> {{age}}</p>
    <p><strong>Sex:</strong> {{sex}}</p>

    <!-- CBC Test Results Table -->
    <h2>URINE EXAMINATION</h2>
    <table>
      <thead>
        <tr>
          <th>EXAMINATION</th>
          <th>RESULT</th>
          <th>UNIT</th>
          <th>NORMAL VALUE</th>
        </tr>
      </thead>
      <tbody>
        {{#each urineTestData}}
        <tr>
          <td>{{name}}</td>
          <td>{{value}}</td>
          <td>{{unit}}</td>
          <td>{{normalValve}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- Footer Section -->
    <footer>
      <div class="signature">
        Patient's Signature: ____________________________
      </div>
      <div class="stamp">
        Report Stamp: [Stamp Image]
      </div>
    </footer>
  </body>
</html>
